# Auth0
SECRET=<openssl rand -hex 32>
BASE_URL=https://img.hayden.gg
CLIENT_ID=<auth0-client-id>
ISSUER_BASE_URL=https://<your-tenant>.us.auth0.com
ALLOWED_USERS=your@email.com

# Backblaze B2
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_KEY_ID=<backblaze-key-id>
B2_APP_KEY=<backblaze-app-key>
B2_BUCKET_NAME=my-images
B2_CDN_URL=https://files.hayden.gg

# API
UPLOAD_API_KEY=<openssl rand -hex 32>
