doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title :duck:
    link(href="./styles/style.css", rel="stylesheet")

  body(style={'background-color': '#0a0a0a'}).text-white.main-font
    div#particles-js.absolute.w-full.h-full.overflow-hidden.inset-0
    div.flex.mt-64.m-16(style={'max-width': '750px'})
        p.text-3xl.uppercase(class="sm:text-6xl").font-black stop tresspassing and go back to your image


<script src="js/particles.min.js"></script>
<script src="js/particles.js"></script> 